* {
	margin: 0;
	padding: 0;
}

#container {
	background: #333;
	text-align: center;
}

#header {
	height: 30px;
	color: white;
	padding: 25px;
}

#photos {
	width: 700px;
	margin: 0 auto;
	min-height: 300px;
}

#photos img {
	margin: 25px;
	opacity: 0.6;
	border: 10px solid #eee;
	
	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}


#photos img:hover {  
   opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 40px rgba(255,105,180,0.8);
  -moz-box-shadow: 0px 0px 40px rgba(255,105,180,0.8);
  box-shadow: 0px 0px 40px rgba(255,105,180,0.8);
}  



